<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="author" content="Akylbek Miras">
   <link rel="stylesheet" href="/css/team.min.css">
   <link rel="stylesheet" href="frameworks/bootstrap.min.css">
   <title>NIS Council Oral</title>
   <!-- <script src="https://kit.fontawesome.com/d9162f00fa.js" crossorigin="anonymous"></script> -->
</head>
<body class="">

<header class="header background-img">
   <div class="container">
      <nav class="d-flex justify-content-between align-items-center header-container">
         <a href="/home"><img src="/img/naizablacklogo.png" alt="logo" class="logo"></a>
         <ul class="header-ul d-lg-flex d-none">
            <li><a href="/team" class="text text-center">Team</a></li>
            <li><a href="https://nml-oral.vercel.app" class="text text-center">NML</a></li>
            <li><a href="/rating" class="text text-center">Rating</a></li>
            <li><a href="/home" class="text text-center">Home</a></li>
         </ul>
         <a class="button-header btn px-4  d-lg-block d-none" href="https://youtu.be/oHg5SJYRHA0?si=xviLR1o_XwEhnRUD" target="_blank">Sign up
            <svg  xmlns="http://www.w3.org/2000/svg" width="7" height="11" viewBox="0 0 7 11" fill="none">
               <path fill-rule="evenodd" clip-rule="evenodd" d="M3.29289 5.50001L0 2.20712L1.41421 0.792908L6.12132 5.50001L1.41421 10.2071L0 8.79291L3.29289 5.50001Z" fill="white"/>
            </svg>
         </a>
         <!--         <button class="button-header btn px-4  d-lg-none d-block navbar-toggler collapsed px-4 py-3" data-bs-toggle="collapse" data-bs-target="#header-info" aria-expanded="false" aria-controls="company-info">Navigation</button>-->
         <button type="button" class="navbar-togler navbar-toggler collapsed py-2 px-2 d-lg-none d-block" data-bs-toggle="collapse" data-bs-target="#header-info" aria-expanded="false" aria-controls="company-info"><span class="navbar-togler-icon"></span></button>
      </nav>
      <div class="collapse d-lg-none" style="" id="header-info">
         <div class="container my-2">
            <div class="row">
               <div class="list-unstyled list-group text-decoration-none">
                  <a href="/team" class="text-center list-group-item list-group-item-action p-2">Team</a>
                  <a href="https://nml-oral.vercel.app" class=" text-center list-group-item list-group-item-action p-2">NML</a>
                  <a href="/rating" class=" text-center list-group-item list-group-item-action p-2">Rating</a>
                  <a href="/home" class=" text-center list-group-item list-group-item-action p-2">Home</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>


<main class="container">
   <h1 class="title d-none d-lg-block">Student council of NIS Oral 2024-2025</h1>
   <h1 class="title d-block d-lg-none mb-0 pb-0">Student council of</h1>
   <h1 class="title d-block d-lg-none mt-0 pt-0">NIS Oral 2024-2025</h1>


   <div class="d-flex justify-content-center my-2 row">
      <div class="col-lg-4 col-12 d-lg-none">
         <div class="card border-0 text-center my-2 my-lg-0">
            <div class="avatarl shadow align-self-center" id="dauka1"></div>
            <div class="member-infol">
               <div class="member-titlel">President</div>
               <div class="member-namel">Mukanov Daulet</div>
            </div>
         </div>
      </div>
   </div>
   <div class="d-flex justify-content-center my-lg-2 my-0 row">
      <div class="col-lg-4 col-md-6 col-12 justify-content-center">
         <div class="card border-0 text-center my-2 my-lg-0">
            <div class="avatarl shadow align-self-center" id="nadir"></div>
            <div class="member-infol">
               <div class="member-titlel">Vice president</div>
               <div class="member-namel">Mazhit Nadir</div>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-12 top-50 col-12 d-none d-lg-block">
         <div class="card border-0 text-center my-2 my-lg-0">
            <div class="avatarl shadow align-self-center" id="dauka2"></div>
            <div class="member-infol">
               <div class="member-titlel">President</div>
               <div class="member-namel">Mukanov Daulet</div>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 justify-content-center">
         <div class="card border-0 text-center my-4 my-lg-0">
            <div class="avatarl shadow align-self-center" id="miras1" ></div>
            <div class="member-infol">
               <div class="member-titlel">Prime Minister</div>
               <div class="member-namel">Akylbek Miras</div>
            </div>
         </div>
      </div>
   </div>

   <nav class="ministry-nav d-flex justify-content-between align-items-center">
      <a href="#" class="active d-none d-lg-block" data-ministry="events">M. Events</a>
      <a href="#" class="d-none d-lg-block" data-ministry="edu">M. Edu</a>
      <a href="#" class="d-none d-lg-block" data-ministry="digit">M. Digit</a>
      <a href="#" class="d-none d-lg-block" data-ministry="comm">M. Comm</a>
      <a href="#" class="d-none d-lg-block" data-ministry="media">M. Media</a>
      <a href="#" class="d-none d-lg-block" data-ministry="senate">Senate</a>
      <button type="button" class="navbar-togler navbar-toggler collapsed px-2 d-lg-none d-flex fs-4" data-bs-toggle="collapse" data-bs-target="#ministry-info" aria-expanded="false" aria-controls="company-info"><span class="navbar-togler-icon py-3 mx-3"></span><h1 class="togler-text">Ministries</h1></button>
   </nav>
   <div class="collapse d-lg-none" style="" id="ministry-info">
      <div class="container my-2">
         <div class="row">
            <div class="list-unstyled list-group text-decoration-none ministry-nav-collapsed">
               <a href="#" class=" text-center list-group-item list-group-item-action p-2 active"  data-ministry="events">Ministry of Events</a>
               <a href="#" class=" text-center list-group-item list-group-item-action p-2"  data-ministry="edu">Ministry of Education</a>
               <a href="#" class=" text-center list-group-item list-group-item-action p-2"  data-ministry="digit">Ministry of Digitalization</a>
               <a href="#" class=" text-center list-group-item list-group-item-action p-2"  data-ministry="comm">Ministry of Communications</a>
               <a href="#" class=" text-center list-group-item list-group-item-action p-2"  data-ministry="media">Ministry of Media</a>
               <a href="#" class=" text-center list-group-item list-group-item-action p-2"  data-ministry="senate">Senate</a>
            </div>
         </div>
      </div>
   </div>


   <section id="events" class="ministry-section active" >
      <h2>Ministry of Events</h2>
      <div class="d-flex justify-content-around align-items-center row my-4">
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="tulegenov-alikhan"></div>
            <div class="member-info">
               <div class="member-title">Minister</div>
               <div class="member-name">Tulegenov Alikhan</div>
            </div>
         </div>
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="serikov-alikhan"></div>
            <div class="member-info">
               <div class="member-title">Vice Minister</div>
               <div class="member-name">Serikov Alikhan</div>
            </div>
         </div>
      </div>
      <h3>Sport department</h3>
      <div class="d-flex justify-content-around align-items-center row my-4">
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="yernar"></div>
            <div class="member-info">
               <div class="member-title">Head of Sport department</div>
               <div class="member-name">Bekbulat Yernar</div>
            </div>
         </div>
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="shamil"></div>
            <div class="member-info">
               <div class="member-title">Head of Sport department</div>
               <div class="member-name">Bekmukanov Shamil</div>
            </div>
         </div>
      </div>
   </section>

   <section id="edu" class="ministry-section">
      <h2>Ministry of Education</h2>
      <div class="d-flex justify-content-around align-items-center row my-4">
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="aser"></div>
            <div class="member-info">
               <div class="member-title">Minister</div>
               <div class="member-name">Umargali Aser</div>
            </div>
         </div>
      </div>
   </section>

   <section id="digit" class="ministry-section">
      <h2>Ministry of Digitalization</h2>
      <div class="d-flex justify-content-around align-items-center row my-4">
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="ramazan"><img src="/img/nis.png" alt=""></div>
            <div class="member-info">
               <div class="member-title">Minister</div>
               <div class="member-name">Kazbekov Ramazan</div>
            </div>
         </div>
      </div>
      <h3>Development team</h3>
      <div class="d-flex justify-content-around align-items-center row my-4">
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="miras2"></div>
            <div class="member-info">
               <div class="member-title">Front-end developer</div>
               <div class="member-name">Akylbek Miras</div>
            </div>
         </div>
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="aldiyar"></div>
            <div class="member-info">
               <div class="member-title">Front-end developer</div>
               <div class="member-name">Abilov Aldiyar</div>
            </div>
         </div>
      </div>
      <div class="d-flex justify-content-around align-items-center row my-4">
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="serik-alikhan1"></div>
            <div class="member-info">
               <div class="member-title">Front-end developer</div>
               <div class="member-name">Serik Alikhan</div>
            </div>
         </div>
      </div>
   </section>

   <section id="comm" class="ministry-section">
      <h2>Ministry of Communication</h2>
      <div class="d-flex justify-content-around align-items-center row my-4">
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="gibrat"></div>
            <div class="member-info">
               <div class="member-title">Minister</div>
               <div class="member-name">Akhmetolla Gibrat</div>
            </div>
         </div>
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="serikov-adilkhan"></div>
            <div class="member-info">
               <div class="member-title">Vice Minister</div>
               <div class="member-name">Serikov Adilkhan</div>
            </div>
         </div>
      </div>
      <h3>NIS Network</h3>
      <div class="d-flex justify-content-around align-items-center row my-4">
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="serik-alikhan2"></div>
            <div class="member-info">
               <div class="member-title">Minister</div>
               <div class="member-name">Serik Alikhan</div>
            </div>
         </div>
      </div>
   </section>
   <section id="senate" class="ministry-section">
      <h2>Senate</h2>
      <div class="d-flex justify-content-around align-items-center row my-4">
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="anel"></div>
            <div class="member-info">
               <div class="member-title">Presidental Adviser</div>
               <div class="member-name">Ubishova Anel</div>
            </div>
         </div>
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="anzhela"></div>
            <div class="member-info">
               <div class="member-title">Chairman of Shanyraq Council</div>
               <div class="member-name">Bairastanova Anzhela</div>
            </div>
         </div>
      </div>
      <div class="d-flex justify-content-around align-items-center row my-4">
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="sabina"></div>
            <div class="member-info">
               <div class="member-title">Partner</div>
               <div class="member-name">Sergalieva Sabina</div>
            </div>
         </div>
      </div>
   </section>
   <section id="media" class="ministry-section">
      <h2>Ministry of Media</h2>
      <div class="d-flex justify-content-around align-items-center row my-4">
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="nargiza"></div>
            <div class="member-info">
               <div class="member-title">Minister</div>
               <div class="member-name">Yerbolatova Nargiza</div>
            </div>
         </div>
         <div class="col-lg-3 col-8 d-flex gap-3 align-items-center shadow p-3 rounded-4 my-4">
            <div class="member-avatar" id="iliyas"></div>
            <div class="member-info">
               <div class="member-title">Vice Minister</div>
               <div class="member-name">Serikov Iliyas</div>
            </div>
         </div>
      </div>

   </section>
</main>


<footer class="footer">
   <div class="container py-4">
      <div class="align-items-center footer-container">
         <div class="row">
            <div class="col-sm-3 text-center text-md-start">
               <div class="row">
                  <p class="text p-2">NIS Student Council</p>
               </div>
               <div class="row">
                  <p class="text p-2">Powered by MofD</p>
               </div>
            </div>
            <div class="col-sm-5 text-center text-md-start">
               <ul class="footer-ul">
                  <li class="first-li text px-2">Help</li>
                  <li><a href="/comingsoon" class="text-lighter">Terms</a></li>
                  <li><a href="/comingsoon" class="text-lighter">Creators</a></li>
                  <li><a href="https://forms.gle/pzY4gD1gR7ivSkje8" class="text-lighter">Report a problem</a></li>
               </ul>
            </div>
            <!--            <div class="col-lg-2"></div>-->
            <div class="col-sm-4 text-center text-md-start">
               <div class="row social-medias py-3 d-inline-block w-100" id="social-medias">
                  <img src="/img/instagram.png" alt="instagram_logo" class="instagram-logo align-center">
                  <a href="https://www.instagram.com/nisura_council?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="text text-mid align-bottom text-center">@nisura_council</a>
               </div>
               <div class="row social-medias py-3 d-inline-block w-100">
                  <img src="/img/github.png" alt=github_logo" class="github-logo align-center">
                  <a href="https://github.com/coderfromaksay/niscouncil" target="_blank" class="text text-mid align-bottom text-center">niscouncil</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>





<!-- ////////////////// -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin=""></script>
<script src="js/pagesJs/team.js"></script>
<script src="frameworks/bootstrap.bundle.min.js"></script>
<!-- <script src="frameworks/bootstrap/js/bootstrap.min.js"></script> -->
</body>
</html>